# Install and  importing pandas package

In [6]:
%pip install pandas
import pandas as pd

^C
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pandas in c:\users\lammi\anaconda3\envs\datamining\lib\site-packages (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\lammi\anaconda3\envs\datamining\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.15.4 in c:\users\lammi\anaconda3\envs\datamining\lib\site-packages (from pandas) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in c:\users\lammi\anaconda3\envs\datamining\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\lammi\anaconda3\envs\datamining\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

# Create list of all feautures for sample data

In [3]:
first_name = ["Thiện","Thắng"]
last_name = ["Lâm Minh","Võ Hữu"]
start_date = [21/12/2021,16/7/2021]
salary=[119009,61310]
bonus=[12.506,12.428]
team=["Engineering","Marketing"]
is_manager=[True,False]

# dictionary of lists

In [4]:
dict = {
    'First Name' : first_name,
    'Last Name' : last_name,
    'Start Date' : start_date,
    'Salary' : salary,
    'Bonus' : bonus ,
    'Manager ?' : is_manager
}

# Create dataframe

In [7]:
df = pd.DataFrame(dict)

# Check this dataframe

In [8]:
df

  First Name Last Name  Start Date  Salary   Bonus  Manager ?
0      Thiện  Lâm Minh    0.000866  119009  12.506       True
1      Thắng    Võ Hữu    0.001131   61310  12.428      False