<h1>Python | Pandas Dataframe.sample()</h1>

<p>&nbsp;<br><b>Example #2:</b> Generating 25% sample of data frame<br>In this example, 25% random sample data is generated out of the Data frame.</p>

# importing pandas package

In [1]:
%pip install matplotlib
%pip install pandas
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
plt.style.use('seaborn')

# making data frame from csv file
<p>To download the CSV file used, Click <a href="https://media.geeksforgeeks.org/wp-content/uploads/employees.csv">Here.</a><br></p>

In [2]:
data = pd.read_csv("employees.csv")

# generating one row

In [4]:
rows = data.sample(frac=.25)

 
# checking if sample is 0.25 times data or not

In [5]:
if (0.25*(len(data))==len(rows)):
    print("Cool")
    print(len(data),len(rows))

Cool
1000 250

# display first 5 line of dataframe

In [7]:
rows.head()

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
439,Nicholas,Male,3/1/2013,9:26 PM,101036,2.826,True,Human Resources
922,Arthur,Male,12/5/2013,8:44 AM,86615,3.412,True,Business Development
977,Sarah,Female,12/4/1995,9:16 AM,124566,5.949,False,Product
550,Gregory,Male,6/18/1984,3:46 AM,82726,16.304,True,Marketing
906,Frances,Female,5/16/2014,8:31 AM,35884,17.667,False,Sales

# saving the dataframe

In [ ]:
rows.to_csv('employess_new.csv',header=True,index=True)

# Bar Graph generated

# bar graph